@font-face {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  src: url(/assets/fonts/KFOmCnqEu92Fr1Mu4mxKKTU1Kg.woff2);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
* a {
  color: #7b7b93;
  text-decoration: none;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 13px;
}
* a:hover {
  color: #606070;
}

.top-header {
  background-color: #fdfaf6;
}
.top-header .container {
  padding-left: 3.2rem;
  padding-right: 3.2rem;
}
.top-header .container .top-header-right-side a {
  font-size: 14px;
  font-weight: lighter;
  color: black;
}
.top-header .container .top-header-right-side .lang {
  color: #7b7b93;
}
.top-header .container .top-header-right-side .lang:hover {
  color: black;
}
.top-header .container .top-header-right-side .sign-in {
  color: black;
  font-weight: normal;
}
.top-header .container .top-header-right-side .sign-in:hover {
  color: #606070;
}
.top-header .container .top-header-right-side .sign-up {
  color: white;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
  background-color: #fd475d;
  font-weight: normal;
}

.bottom-header {
  box-shadow: 0 1px 5px 2px rgb(237, 235, 235);
}
.bottom-header .container {
  padding-left: 4rem;
  padding-right: 4rem;
}
.bottom-header .container .bottom-header-left-side .logo:hover {
  opacity: 0.9;
  transition: 0.2s, ease-in-out;
}
.bottom-header .container .bottom-header-menu a {
  color: black;
  font-size: 16px;
  font-weight: normal;
}
.bottom-header .container .bottom-header-menu a:not(.cart):hover {
  transition: 0.1s ease-in-out;
  color: #fd475d;
}
.bottom-header .container .bottom-header-menu .cart {
  font-size: 20px;
  color: black;
  border-radius: 10px;
  background-color: white;
  border: 1px solid #cecee2;
  padding: 0.2rem 0.53rem 0.2rem 0.53rem;
}
.bottom-header .container .bottom-header-menu .cart .item-count {
  background-color: #fd475d;
  border-radius: 50%;
  padding-left: 5.5px;
  padding-right: 5.5px;
  color: white;
  font-size: 12px;
  position: absolute;
  transform: translate(-2px, -10px);
}
.bottom-header .container .bottom-header-menu .cart:hover {
  background-color: #f8f8f8;
  transition: 0.2s ease-in-out;
}
.bottom-header .container .bottom-header-right-side .sign-in {
  color: black;
  font-size: 16px;
  border-radius: 10px;
  background-color: white;
  border: 1px solid #7b7b93;
  padding: 0.57rem 2.2rem 0.57rem 2.2rem;
}
.bottom-header .container .bottom-header-right-side .sign-in:hover {
  color: white;
  background-color: #fd475d;
  border: 1px solid #fd475d;
  transition: 0.2s ease-in-out;
}